
TD { font-family: Arial, Helvetica, Sans-Serif; font-size: 10pt; }

PRE { font-family: Courier; font-size: 10pt; border:1px solid black; background-color:#F6F6F6; padding:10px; }
PRE.sequence { font-family:'courier new'; font-size:8pt; color:black; }

pre.Retrospect {
	white-space: pre-wrap;       /* css-3 */
	white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

H1 { font-family: Arial, Helvetica; font-weight: bold; font-size: 11pt;}
H2 { font-family: Arial, Helvetica; font-weight: bold; font-size: 11pt;} 
H1.pdb { font-family: Arial, Helvetica; font-weight: bold; font-size: 12pt;}
H1.title { font-family: Arial, Helvetica; font-weight: bold; font-size: 12pt; margin-left:60px; margin-right:50px;}

A:link { color:#365a79; font-family: Arial, Helvetica, Sans-Serif; font-size: 10pt; text-decoration: none; }
A:visited { color:#365a79; font-family: Arial, Helvetica, Sans-Serif; font-size: 10pt; text-decoration: none; }
A:active { color:#365a79; font-family: Arial, Helvetica, Sans-Serif; font-size: 10pt; text-decoration: none; }
A:hover { color:#4b7ca7; font-family: Arial, Helvetica, Sans-Serif; font-size: 10pt; text-decoration: none; }

A.nav:link { text-decoration: none; color:#365a79; font-family: Arial, Helvetica, Sans-Serif; font-size: 11pt; text-decoration: none; }
A.nav:visited { text-decoration: none; color:#365a79; font-family: Arial, Helvetica, Sans-Serif; font-size: 11pt; text-decoration: none; }
A.nav:active { text-decoration: none; color:#365a79; font-family: Arial, Helvetica, Sans-Serif; font-size: 11pt; text-decoration: none; }
A.nav:hover { text-decoration: none; color:#365a79; font-family: Arial, Helvetica, Sans-Serif; font-size: 11pt; text-decoration: none; }

span.red { color:#ff2222; }

P { text-align: justify; }

.header { background: #cccccc; font-size: 12px; font-family: verdana, arial; font-weight: bold; }
.results { background: #eeeeee; font-size: 11px; font-family: verdana, arial; }
.nav { text-decoration: none; color:#0000aa; font-family: Arial, Helvetica, Sans-Serif; font-size: 12pt; }

sup#ref { font-size:66%; }

missing { background: #FF0000; }

a.blacklink { color:black; font-family: Arial, Helvetica, Sans-Serif; font-size: 10pt; text-decoration: none; }

.linkbox { padding-left:20px; 
          padding-right:20px; 
          padding-top:10px; 
          padding-bottom:10px; 
          padding-left:10px; 
          border-color:black; 
          border-style:solid; 
          border-width:1px; }

.tth {  font:12px/14px Arial,Helvetica,sans-serif; 
            border:solid 1px #666666; 
            width:180px; 
            padding:3px;
            color:#FFFFFF; 
            background-color:#6A6A6A;
            text-align:justify; } /*header*/

.tooltip {  font:12px/14px Arial,Helvetica,sans-serif; 
            border:solid 1px #666666; 
            width:180px; 
            padding:3px; 
            color:#000000; 
            background-color:#ffffcc; 
            /*layer-background-color:#FFFFE0;*/
            text-align:justify; }

table.benchmarks {}
td.benchmarks {border: 0}
tr.benchmarks {border: 0}

.tthbenchmark {  font:12px/14px Arial,Helvetica,sans-serif; 
            border:solid 1px #666666; 
            width:380px; 
            padding:3px;
            color:#FFFFFF; 
            background-color:#6A6A6A;
            text-align:justify; } /*header*/
.tooltipbenchmark {  font:12px/14px Arial,Helvetica,sans-serif; 
            border:solid 1px #666666; 
            width:380px; 
            height:180px; 
            padding:3px; 
            color:#000000; 
            background-color:#ffffcc; 
            /*layer-background-color:#FFFFE0;*/
            text-align:justify; }

.activeLT { border-left:1px solid black; border-top:1px solid black; border-bottom:1px solid black; }
.inactiveLT { border-right:1px solid black; }

.activeRT { border-right:1px solid black; border-top:1px solid black; border-bottom:1px solid black; }
.inactiveRT { border-left:1px solid black; }

table.jmoltable th { font-size: 10pt; }
table.jmoltable th:first-child { text-align: left; }
table.jmoltable td:first-child { text-align: left; }
table.jmoltable td:first-child+td { text-align: center; }
table.jmoltable td:first-child+td+td { text-align: center; }

table.backrubscores {border : 1px solid black; border-collapse:collapse; }
table.backrubscores th { padding: 2px; border : 1px solid black; font-size: 9pt; text-align: left;}
table.backrubscores td { padding: 2px; border : 1px solid black; text-align: left; }

/* PDF document links */
a.benchmarks[href$='.pdf'] {
  background: transparent url(../images/pdf16.png) center left no-repeat;
  display:inline-block;
  padding-left:20px;
  line-height:15px;
}

div#box{float:right; width: 440px; padding: 20px; margin:0px auto; color:#000; }
div#news_box_good{float:center; width: 600px; padding: 5px; margin:0px auto; color:#000; background-color:#66CC66; }
div#news_box_warning{float:center; width: 600px; padding: 5px; margin:0px auto; color:#000; background-color:#CC3333; }
div#login_box{float:center; width: 600px; padding: 20px; margin:0px auto; color:#000; background-color:#DCE9F4; }
div#queue_bg{float:center; width: 700px; padding: 20px; margin:0px auto; color:#000; background-color:#EEEEEE; }
div#jobinfo{float:center; width: 850px; padding: 20px; margin:0px auto; color:#000; background-color:#EEEEFF; }

ul#about,ul#about li{float:left;list-style-type:none;margin:0;padding:0; }
ul#about{width: 190px;margin:0px auto 0;text-align:left; }
ul#about li{float:left;width: 220px; height:10px; padding: 10px 10px 10px 10px;margin:0px 5px 3px 0px; }

td#lw{border-bottom:1px solid #828282;}


a.gen9 { color:#005; font-weight: bold; font-family: Arial, Helvetica, Sans-Serif; font-size: 10pt; text-decoration: none; }
a.gen9_light { color:#005; font-weight: normal; font-family: Arial, Helvetica, Sans-Serif; font-size: 10pt; text-decoration: none; }

table.gen9browser
{
	border: 1px solid black;
	padding: 4;
	border-spacing:0;
	border-collapse: collapse;
	width: 1100px;
	font-size:12px;
	text-align:left
}

tr.gen9browser-firstrow
{
	color:#005;
	font-weight: bold;
}
table.gen9browser tr
{
	padding-top: 10px;
	vertical-align: top;
	text-align:left
}
table.gen9browser th, table.gen9browser td
{
	border: 1px solid black;
}

table.gen9browser_internal td
{
	border: 0px;
}

table.gen9template
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	margin: 10px;
	text-align: left;
	border-collapse: collapse;
}
table.gen9template th
{
	font-size: 13px;
	font-weight: bold;
	padding: 1px;
	background: #b2cecf;
	border-top: 1px solid black;
	border-bottom: 1px solid #111;
	color: #5225d0;
}
table.gen9template tr
{
	background-color: #c9d8d5;
}

span.gen9template
{
	font-weight: bold;
	color: #5225d0;
	border-bottom: 1px solid #111;
}

table.box-table-a
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	margin: 10px;
	width: 900px;
	text-align: left;
	border-collapse: collapse;
}
table.box-table-a th
{
	font-size: 13px;
	font-weight: bold;
	padding: 8px;
	background: #40c06d;
	border-top: 4px solid #30b05d;
	border-bottom: 1px solid #fff;
	color: #017;
}


tr.unrated_design
{
	background: #cccccc;
}
tr.good_design
{
	background: #19AC19;
}
tr.maybe_design 
{
	background: #e8c800;
}
tr.bad_design 
{
	background: #d0101d;
}
td.unrated_scaffold
{
	background: #c4c4c4;
}
td.good_scaffold
{
	background: #40c06d;
}
td.maybe_scaffold 
{
	background: #e0c000;
}
td.bad_scaffold 
{
	background: #c0101d;
}

div.general-design-cl { }
div.good_scaffold-cl { }
div.bad_scaffold-cl { }
div.maybe_scaffold-cl { }
div.unrated_scaffold-cl { }
div.good_design-cl { }
div.bad_design-cl { }
div.maybe_design-cl { }
div.unrated_design-cl { }

span.gen9-hiding-button
{
	display: inline-block;
	width: 170px;	
}

h1.gen9-new-instructions
{
	width:850px;
	text-align:left;
	color:#005500;
	padding-bottom:10px;
}

div.unrated_design
{
	background: #cccccc;
}
div.good_design
{
	background: #19AC19;
}
div.maybe_design 
{
	background: #e8c800;
}
div.bad_design 
{
	background: #d0101d;
}
div.unrated_scaffold
{
	background: #c4c4c4;
}
div.good_scaffold
{
	background: #40c06d;
}
div.maybe_scaffold 
{
	background: #e0c000;
}
div.bad_scaffold 
{
	background: #c0101d;
}



div.gen9floater
{
	background: #b2cecf; display:block; bottom:10px; right:20px; width:150px; position:fixed; border:1px solid #888; padding:2px; text-align:center; font-weight:bold; color:#5225d0
}

div.new-genbrowser
{
	text-align: left;
}
a.newgen9
{
	color:#55f; font-weight: bold; font-family: Arial, Helvetica, Sans-Serif; font-size: 10pt; text-decoration: none;
}
span.new-genbrowser-header
{
	display: inline-block;
	width: 180px;
	color:#005;
	font-weight: bold;
}
span.new-genbrowser-inline-header
{
	color:#005;
	font-weight: bold;
}
span.new-genbrowser-short-header
{
	display: inline-block;
	width: 100px;
	color:#005;
	font-weight: bold;
}
span.gen9-firstscore
{
	display: inline-block;
	width: 300px;
}
span.Gen9PyMOL-link
{
	display: inline-block;
	padding-left:10px;
	vertical-align:top;
	position:relative;
	top: -2px;
}


span.new-genbrowser-comment-header
{
	display: inline-block;
	width: 30px;
	color:#005;
	font-weight: bold;
}
table.new-genbrowser-comments
{
	padding-left:40px;
	border: 3px;
	display: inline-table;
}
td.new-genbrowser-comments
{
	border: 0px;
}
th.new-genbrowser-comments
{
	background: #b2cecf;
	padding:0px;
	text-align:left;
	font-size: 10pt;
	font-weight:bold;
	color:#5225d0
}
div.new-genbrowser-comments-form-block
{
	padding-left:30px;
	padding-bottom:10px;
}
span.new-genbrowser-comments-header
{
	vertical-align:top;
	text-align:left;
	font-size: 10pt;
	font-weight:bold;
	color:#005;
	display: inline-block;
	width: 80px;
}
span.new-genbrowser-comments-rating
{
	display: inline-block;
	vertical-align:top;
	text-align:right;
	padding-right:10px;
}
textarea.new-genbrowser-comments-textarea
{
	width:680px;
	height:80px;
}
table.new-gen9browser-sequences
{
	padding-left:30px;
	border: 0px;
}

div.new-genbrowser-sequence-block
{
	padding-top:10px;
	border: 0px;
}

div.rankmapping_header span:nth-child(1)
{
	display: inline-block;
	font-weight:bold;
	width:90px;
	text-align:left;
	background: #b2cecf;
	color:#5225d0;
	margin:1px;
}
div.rankmapping_header span:nth-child(2)
{
	display: inline-block;
	font-weight:bold;
	width:120px;
	text-align:left;
	background: #b2cecf;
	color:#5225d0;
	margin:1px;
}div.rankmapping_header span:nth-child(3)
{
	display: inline-block;
	font-weight:bold;
	width:140px;
	text-align:left;
	background: #b2cecf;
	color:#5225d0;
	margin:1px;
}
div.rankmapping_header span:nth-child(4)
{
	display: inline-block;
	font-weight:bold;
	width:130px;
	text-align:left;
	background: #b2cecf;
	color:#5225d0;
	margin:1px;
}

div.rankmapping span:nth-child(1)
{
	display: inline-block;
	width:90px;
	text-align:left;
	background:#c9d8d5;
	margin:1px;
	cursor: pointer;
}

div.rankmapping span:nth-child(2)
{
	display: inline-block;
	width:120px;
	text-align:left;
	background:#c9d8d5;
	margin:1px;
}div.rankmapping span:nth-child(3)
{
	display: inline-block;
	width:140px;
	text-align:left;
	background:#c9d8d5;
	margin:1px;
}

div.rankmapping span:nth-child(4)
{
	display: inline-block;
	width:130px;
	text-align:left;
	background:#c9d8d5;
	margin:1px;
}

span.new-genbrowser-sequence-chain
{
	padding-left:30px;
	display: inline-block;
	width: 60px;
	color:#005;
	font-weight: bold;
}
span.new-genbrowser-scaffold-details
{
	padding-left:30px;
	padding-top:5px;
	padding-bottom:10px;
	display: inline-block;
	color:#005;
	font-weight: bold;
}
span.genbrowser-smallmolecule-reference
{
	padding-left:10px;
	display: inline-block;
}
span.new-genbrowser-sequence-reference
{
	padding-left:30px;
	display: inline-block;
	width: 270px;
}
span.new-genbrowser-sequence-wildtype-mutated
{
	background:#50d07d;
	color:#003300
}
span.new-genbrowser-sequence-mutant-mutated
{
	background:#d07d50;
	color:#000000
}
span.new-genbrowser-sequence-motif-residue
{
	background:#FFFF00;
	color:#000000;
}
span.new-genbrowser-sequence-motif-residues
{
	display: inline-block;
	padding-left:4px;
	color:#5225d0;
	font-weight: bold;
}

span.gen9-filelink
{
	padding-left:180px;
}

span.gen9-betterfilelink
{
	display: inline-block;
	width:300px
}

table.new-genbrowser-score-1
{
	padding-left:180px;
	border: 3px;
	display: inline-table;
}
td.new-genbrowser-score-1
{
	border: 0px;
}
th.new-genbrowser-score-1
{
	background: #b2cecf;
	padding:0px;
	text-align:left;
	font-size: 10pt;
	font-weight:bold;
	color:#5225d0
}

table.new-genbrowser-score-2
{
	display: inline-table;
	padding-left:40px;
}
td.new-genbrowser-score-2
{
	border: 0px;
}
th.new-genbrowser-score-2
{
	background: #b2cecf;
	padding:0px;
	text-align:left;
	font-size: 10pt;
	font-weight:bold;
	color:#5225d0
}


td.gen9-RMSD-BadChi
{
	font-weight:bold;
	color:#fff;
	background:#d0101d;
}
tr.new-genbrowser-stats td:nth-child(-n+4)
{
	background: #c9d8d5;
}
tr.new-genbrowser-stats td:nth-child(n+4):nth-child(-n+7)
{
	background: #d9e8e5;
}
tr.new-genbrowser-stats td:nth-child(n+8):nth-child(-n+11)
{
	background: #c9d8d5;
}
tr.new-genbrowser-stats td:nth-child(n+12):nth-child(-n+15)
{
	background: #d9e8e5;
}
tr.new-genbrowser-manual-design-stats td:nth-child(-n+20)
{
	background: #c9d8d5;
}
tr.new-genbrowser-manual-design-stats td:nth-child(n+20):nth-child(-n+23)
{
	background: #d9e8e5;
}
tr.new-genbrowser-manual-design-stats td:nth-child(n+24):nth-child(-n+27)
{
	background: #c9d8d5;
}
tr.new-genbrowser-manual-design-stats td:nth-child(n+28):nth-child(-n+31)
{
	background: #d9e8e5;
}

td.new-genbrowser-score-2h
{
	background: #b2cecf;
	padding:0px;
	text-align:left;
	font-size: 10pt;
	font-weight:bold;
	color:#5225d0
}
span.new-genbrowser-fake-button
{
	background: #b2cecf;
	padding:0px;
	text-align:center;
	font-weight:bold;
	color:#5225d0
}

tr.new-genbrowser-fake-button
{
	background: #b2cecf;
	border:1px solid #888;
	padding:0px;
	text-align:center;
	font-weight:bold;
	color:#5225d0
}

div.new-genbrowser-row
{
	padding-bottom:2px;	
}
div.new-genbrowser-row-1
{
	padding-bottom:2px;	
}
div.new-genbrowser-row-2
{
	padding-bottom:2px;
	padding-left:180px;
}

table.box-table-a tr:nth-child(1) td
{
	background: #c0caed;
}
table.box-table-a tr td:nth-child(1)
{
	background: #c0c0C0;
}
table.box-table-a tr td:nth-child(2)
{
	background: #c0caed;
}
table.box-table-a tr td:nth-child(1)
{
	font-weight: bold;
}
table.box-table-a tr:nth-child(9) td
{
	color: #017;
	background: #40c06d;
}
table.box-table-a tr:last-child td
{
	color: #017;
	background: #40c06d;
}

table.box-table-a tr:hover td
{
	background: #d0dafd;
	color: #339;
}
table.box-table-a td
{
	padding: 8px;
	background: #e8edff; 
	border-bottom: 1px solid #fff;
	color: #669;
	border-top: 1px solid transparent;
}
table.box-table-a td, table.box-table-a th {
  border-left: solid 1px white;
}

hr.new-genbrowser-hr
{
	color: #000;
	background: #000; 
	height: 0px;
	width: 99%;
	padding-bottom:0px;
}

.Top10SmallMolecule
{
	background: #40c06d;
	margin-left:-60px;
	margin-bottom:0px;
}
.Top10SmallMolecule:before,
.Top10SmallMolecule:after { content: "\0000a0"; }
.Top10RankingScheme
{
	background: #40c06d;
	margin-left:-45px;
	margin-top:0px;
	margin-bottom:0px;
}
.Top10RankingScheme:before,
.Top10RankingScheme:after { content: "\0000a0"; }
.Top10DesignType
{
	background: #40c06d;
	margin-left:-30px;
	margin-top:0px;
	margin-bottom:0px;
}
.Top10DesignType:before,
.Top10DesignType:after { content: "\0000a0"; }
.Top10DesignRank
{
	background: #40c06d;
	margin-left:-15px;
	margin-top:0px;
}
.Top10DesignRank:before,
.Top10DesignRank:after { content: "\0000a0"; }

a.top10header
{
	color: black;
}
span.gen9-scaffold-details
{
	padding-left:5px;
	display: inline-block;
	cursor: pointer;
}

