
TD { font-family: Arial, Helvetica, Sans-Serif; font-size: 10pt; }

PRE { font-family: Courier; font-size: 10pt; border:1px solid black; background-color:#F6F6F6; padding:10px; }
PRE.sequence { font-family:'courier new'; font-size:8pt; color:black; }

pre.Retrospect {
	white-space: pre-wrap;       /* css-3 */
	white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

H1 { font-family: Arial, Helvetica; font-weight: bold; font-size: 11pt;}
H2 { font-family: Arial, Helvetica; font-weight: bold; font-size: 11pt;} 
H1.pdb { font-family: Arial, Helvetica; font-weight: bold; font-size: 12pt;}
H1.title { font-family: Arial, Helvetica; font-weight: bold; font-size: 12pt; margin-left:60px; margin-right:50px;}

A:link { color:#365a79; font-family: Arial, Helvetica, Sans-Serif; font-size: 10pt; text-decoration: none; }
A:visited { color:#365a79; font-family: Arial, Helvetica, Sans-Serif; font-size: 10pt; text-decoration: none; }
A:active { color:#365a79; font-family: Arial, Helvetica, Sans-Serif; font-size: 10pt; text-decoration: none; }
A:hover { color:#4b7ca7; font-family: Arial, Helvetica, Sans-Serif; font-size: 10pt; text-decoration: none; }

A.nav:link { text-decoration: none; color:#365a79; font-family: Arial, Helvetica, Sans-Serif; font-size: 11pt; text-decoration: none; }
A.nav:visited { text-decoration: none; color:#365a79; font-family: Arial, Helvetica, Sans-Serif; font-size: 11pt; text-decoration: none; }
A.nav:active { text-decoration: none; color:#365a79; font-family: Arial, Helvetica, Sans-Serif; font-size: 11pt; text-decoration: none; }
A.nav:hover { text-decoration: none; color:#365a79; font-family: Arial, Helvetica, Sans-Serif; font-size: 11pt; text-decoration: none; }

span.red { color:#ff2222; }

P { text-align: justify; }

.header { background: #cccccc; font-size: 12px; font-family: verdana, arial; font-weight: bold; }
.results { background: #eeeeee; font-size: 11px; font-family: verdana, arial; }
.nav { text-decoration: none; color:#0000aa; font-family: Arial, Helvetica, Sans-Serif; font-size: 12pt; }

sup#ref { font-size:66%; }

missing { background: #FF0000; }

a.blacklink { color:black; font-family: Arial, Helvetica, Sans-Serif; font-size: 10pt; text-decoration: none; }

.linkbox { padding-left:20px; 
          padding-right:20px; 
          padding-top:10px; 
          padding-bottom:10px; 
          padding-left:10px; 
          border-color:black; 
          border-style:solid; 
          border-width:1px; }

.tth {  font:12px/14px Arial,Helvetica,sans-serif; 
            border:solid 1px #666666; 
            width:180px; 
            padding:3px;
            color:#FFFFFF; 
            background-color:#6A6A6A;
            text-align:justify; } /*header*/

.tooltip {  font:12px/14px Arial,Helvetica,sans-serif; 
            border:solid 1px #666666; 
            width:180px; 
            padding:3px; 
            color:#000000; 
            background-color:#ffffcc; 
            /*layer-background-color:#FFFFE0;*/
            text-align:justify; }

.activeLT { border-left:1px solid black; border-top:1px solid black; border-bottom:1px solid black; }
.inactiveLT { border-right:1px solid black; }

.activeRT { border-right:1px solid black; border-top:1px solid black; border-bottom:1px solid black; }
.inactiveRT { border-left:1px solid black; }

table.jmoltable th { font-size: 10pt; }
table.jmoltable th:first-child { text-align: left; }
table.jmoltable td:first-child { text-align: left; }
table.jmoltable td:first-child+td { text-align: center; }
table.jmoltable td:first-child+td+td { text-align: center; }
		
div#box{float:right; width: 440px; padding: 20px; margin:0px auto; color:#000; }
div#news_box_good{float:center; width: 600px; padding: 5px; margin:0px auto; color:#000; background-color:#66CC66; }
div#news_box_warning{float:center; width: 600px; padding: 5px; margin:0px auto; color:#000; background-color:#CC3333; }
div#login_box{float:center; width: 600px; padding: 20px; margin:0px auto; color:#000; background-color:#DCE9F4; }
div#queue_bg{float:center; width: 700px; padding: 20px; margin:0px auto; color:#000; background-color:#EEEEEE; }
div#jobinfo{float:center; width: 850px; padding: 20px; margin:0px auto; color:#000; background-color:#EEEEFF; }

ul#about,ul#about li{float:left;list-style-type:none;margin:0;padding:0; }
ul#about{width: 190px;margin:0px auto 0;text-align:left; }
ul#about li{float:left;width: 220px; height:10px; padding: 10px 10px 10px 10px;margin:0px 5px 3px 0px; }

td#lw{border-bottom:1px solid #828282;}


